{% extends 'base.html' %}

{% load filters %}
{% load i18n %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/account/receipt.js"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block  content %}

    {{ data|jsonify }}

    <form method="post" enctype="multipart/form-data" data-bind="submit: save">
        {% csrf_token %}

        {% trans 'No.' %}

        <input type="text" name="no" id="id_no"
               data-bind="value: no, localize: true">

        {% trans 'Date' %}

        <input type="date" name="date" id="id_date"
               data-bind="value: date, localize: true">

    </form>

{% endblock %}