django
gunicorn
psycopg2
south
django-debug-toolbar
bpython
django-mptt
django-pagination
django-filter
-e git://github.com/camilonova/django-sorting.git#egg=django_sorting
djangorestframework
Pillow
django-haystack
elasticsearch