{% extends "training_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Files' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_files" %}">{% trans 'Files' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table-bordered">
        <thead>
        <th>{% trans 'File' %}</th>
        <th>{% anchor description _('Description') %}</th>
        <th>{% anchor training__title _('Training') %}</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                    <a href="{{ MEDIA_URL }}{{ item.file }}">{{ item.filename }}</a>
                </td>
                <td>
                    {{ item.description }}
                </td>
                <td>{{ item.training.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

{% endblock %}