{% extends "training_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Target Groups' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_target_groups" %}">{% trans 'Target Groups' %}</a>
{% endblock %}

{% block content %}

    {% load mptt_tags %}
    <ul>
        {% recursetree objects %}
            <li>
                <a href="{% url 'update_target_group' node.id %}">{{ node.name }}</a>
                {% if node.description %}
                    : {{ node.description }}
                {% endif %}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

    <a class="small secondary button"
       href="{% url 'add_target_group' %}">{% trans 'New' %} {% trans 'Target Group' %}</a>

{% endblock %}