{% extends "training_base.html" %}
{% load i18n %}
{% load filters %}

{% block title %}{% trans 'Resource Persons' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_resource_persons" %}">{% trans 'Resource Persons' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table-bordered">
        <thead>
        <th>{% anchor name _('Name') %}</th>
        <th>{% anchor address _('Address') %}</th>
        <th>{% anchor phone_no _('Phone') %}</th>
        <th>{% anchor email _('Email') %}</th>
        <th>{% anchor organization__name _('Organization') %}</th>

        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td><a href="{% url 'update_resource_person' item.id %}">{{ item.name }}</a></td>
                <td>{{ item.address }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.email|mailto }}</td>
                <td>
                    {% if item.organization %}
                        <a href="{% url 'update_organization' item.organization.id %}">{{ item.organization.name }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="small secondary button"
       href="{% url 'add_resource_person' %}">{% trans 'New' %} {% trans 'Resource Person' %}</a>

{% endblock %}