{% extends "training_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Categories' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_training_categories" %}">{% trans 'Categories' %}</a>
{% endblock %}

{% block content %}

    {% load mptt_tags %}
    <ul>
        {% recursetree objects %}
            <li>
                <a href="{% url 'update_training_category' node.id %}">{{ node.name }}</a>
                {% if node.description %}
                    : {{ node.description }}
                {% endif %}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

    <a class="small secondary button"
       href="{% url 'add_training_category' %}">{% trans 'New' %} {% trans 'Category' %}</a>

{% endblock %}