{% extends base_template %}
{% load i18n %}

{% block title %}{{ scenario }} {% trans 'Organization' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_inventory_items" %}">{% trans 'Inventory' %} {% trans 'Items' %}</a>#}
    <span>{% trans scenario %} {% trans 'Organization' %}</span>
{% endblock %}

{% block content %}

    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="span12">
                <button type="submit" value="Submit" class="small secondary button">
                    {% trans 'Submit' %}</button>
                {% if scenario == 'Update' %}
                    <a class="small secondary button alert"
                       href="{% url 'delete_organization' form.instance.id %}">{% trans 'Delete' %}!</a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}