{% extends 'training_base.html' %}
{% load i18n %}
{% load filters %}

{% block title %} {{ obj.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_inventory_items" %}">{% trans 'Inventory' %} {% trans 'Items' %}</a>#}
    <span>{% trans scenario %} {% trans 'Training' %} </span>
{% endblock %}
{% block head_end %}

    <script src="{{ STATIC_URL }}js/training/print.js"></script>

{% endblock %}

{% block breadcrumbs_right %}
{% endblock %}


{% block content %}

    <h1>{{ obj.title }}</h1>


    {% if obj.starts %}
        From: <span id="id_starts">{{ obj.starts }}</span>
    {% endif %}
    &nbsp;&nbsp;&nbsp;
    {% if obj.ends %}
        To: <span id="id_ends">{{ obj.ends }}</span>
    {% endif %}
    &nbsp;&nbsp;&nbsp;
    <span id="duration"></span>
    <br><br>

    {{ obj.description|linebreaks }}
    <br><br>

    {% if obj.categories.count %}
        {% if obj.categories.count == 1 %}
            <b>Category:</b>
        {% else %}
            <b>Categories:</b>
        {% endif %}
        {{ obj.categories.all|join:', ' }}
        <br><br>
    {% endif %}


    {% if obj.target_groups.count %}
        {% if obj.target_groups.count == 1 %}
            <b>Target Group:</b>
        {% else %}
            <b>Target Groups:</b>
        {% endif %}
        {{ obj.target_groups.all|join:', ' }}
        <br><br>
    {% endif %}

    {% if obj.resource_persons.count %}
        {% if obj.resource_persons.count == 1 %}
            <b>Resource Person:</b>
        {% else %}
            <b>Resource Persons:</b>
        {% endif %}
        {{ obj.resource_persons.all|join:', ' }}
        <br><br>
    {% endif %}


    {% if obj.criteria_for_selection %}
        <b>Criteria for Selection:</b>
        {{ obj.criteria_for_selection|linebreaks }}
        <br><br>
    {% endif %}

    {% if obj.objective %}
        <b>Objective:</b>
        {{ obj.objective|linebreaks }}
        <br><br>
    {% endif %}

    {% if obj.output %}
        <b>Output:</b>
        {{ obj.output|linebreaks }}
        <br><br>
    {% endif %}

    {% if obj.conclusion %}
        <b>Conclusion:</b>
        {{ obj.conclusion|linebreaks }}
        <br><br>
    {% endif %}

    {% if obj.feedback %}
        <b>Feedback:</b>
        {{ obj.feedback|linebreaks }}
        <br><br>
    {% endif %}

    {% if obj.curriculum %}
        <b>Curriculum:</b>
        {{ obj.curriculum|linebreaks }}
        <br><br>
    {% endif %}

    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort obj.participants.all as sorted_objects %}

    <h3>Participants</h3>

    <table class="table-bordered">
        <thead>
        <th>{% anchor name _('Name') %}</th>
        <th>{% anchor address _('Address') %}</th>
        <th>{% anchor phone_no _('Phone') %}</th>
        <th>{% anchor email _('Email') %}</th>
        <th>{% anchor organization__name _('Organization') %}</th>

        </thead>
        <tbody>
        {% for item in sorted_objects %}
            <tr>
                <td><a href="{% url 'update_participant' item.id %}">{{ item.name }}</a></td>
                <td>{{ item.address }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.email|mailto }}</td>
                <td>
                    {% if item.organization %}
                        <a href="{% url 'update_organization' item.organization.id %}">{{ item.organization.name }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}