{% extends base_template %}
{% load i18n %}
{% load filters %}

{% block title %}{{ scenario }} {% trans 'Training' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_inventory_items" %}">{% trans 'Inventory' %} {% trans 'Items' %}</a>#}
    <span>{% trans scenario %} {% trans 'Training' %} </span>
{% endblock %}
{% block head_end %}
    <script src="{{ STATIC_URL }}js/vendors/foundation-datepicker.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendors/foundation-datepicker.css">
    <script src="{{ STATIC_URL }}js/training/form.js"></script>

    <script>
        participants =
        {{ participants }};
        vm_files =
        {{ files|jsonify }}
    </script>

{% endblock %}

{% block breadcrumbs_right %}
    {% if scenario == 'Update' %}
        <a href="{% url 'print_training' form.instance.id %}">{% trans 'Print' %}</a>
    {% endif %}
{% endblock %}


{% block content %}

    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="right">
            <div class="span12">
                <button type="submit" value="submit" class="small secondary button">
                    {% trans 'Save' %}</button>
                {% if scenario == 'Update' %}
                    <a class="small secondary button alert"
                       href="{% url 'delete_training' form.instance.id %}">{% trans 'Delete' %}!</a>
                {% endif %}
            </div>
        </div>

        <ul class="tabs" data-tab id="training-tab">
            <li class="tab-title active"><a href="#basic">Basic</a></li>
            <li class="tab-title"><a href="#detail">Details</a></li>
            <li class="tab-title"><a href="#participants">Participants</a></li>
            <li class="tab-title"><a href="#files">Files </a></li>
        </ul>


        <div class="tabs-content">
            <div class="content active" id="basic">
                <label for="id_title">Title:</label>
                {{ form.title }}

                <label for="id_description">Description:</label>
                {{ form.description }}

                <label for="id_starts">Starts:</label>
                {#                <input type="text" name="starts" id="id_starts" data-date-format="yyyy-mm-dd">#}
                {{ form.starts }}

                <span id="duration"></span>

                <label for="id_ends">Ends:</label>
                {#                <input type="text" name="ends" id="id_ends" data-date-format="yyyy-mm-dd">#}
                {{ form.ends }}

                <label for="id_categories">Categories:</label>
                {{ form.categories }}
                <a href="#" data-reveal-id="add-category">Add New Category</a>


                <label for="id_target_groups">Target groups:</label>
                {{ form.target_groups }}
                <a href="#" data-reveal-id="add-target-group">Add New Target Group</a>

                <label for="id_resource_persons">Resource persons:</label>
                {{ form.resource_persons }}
                <a href="#" data-reveal-id="add-resource-person">Add New Resource Person</a>

            </div>
            <div class="content" id="detail">
                <label for="id_criteria_for_selection">Criteria for selection:</label>
                {{ form.criteria_for_selection }}


                <label for="id_objective">Objective:</label>
                {{ form.objective }}

                <label for="id_output">Output:</label>
                {{ form.output }}

                <label for="id_conclusion">Conclusion:</label>
                {{ form.conclusion }}

                <label for="id_feedback">Feedback:</label>
                {{ form.feedback }}

                <label for="id_curriculum">Curriculum:</label>
                {{ form.curriculum }}


            </div>
            <div class="content" id="participants">

                {#                <label for="id_participants">Participants:</label>#}
                {#                {{ form.participants }}#}

                <select id="available"
                        data-bind="options: $root.participants_available, value: selected_participant, optionsText: 'name', optionsValue: 'id'"></select>
                <button data-bind="click: add_participant">Add</button>
                <a href="#" data-reveal-id="add-participant">Create New Participant</a>

                <table class="table table-bordered">
                    <thead>
                    <th>Name</th>
                    <th>Organization</th>
                    <th></th>
                    </thead>
                    <tbody>
                    <!-- ko foreach: selected_participants -->
                    <tr>
                        <td data-bind="text: name"></td>
                        <td>
                            <span data-bind="text: get_organization_name()">
                            </span>
                        </td>
                        <td class="hide-on-print">
                            <a href="#" class="close tiny secondary" data-bind="click: $parent.remove_row">x</a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>

                <input type="hidden" name="selected_participants" data-bind="value: participants">

            </div>
            <div class="content" id="files">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>File</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: files -->
                    <tr>
                        <td>
                            <input type="hidden" name="indices" data-bind="value: $index()">
                            <input type="hidden" name="file_ids" data-bind="value: id">
                            <!-- ko if: file() -->
                            Currently: <a target="_blank"
                                          data-bind="attr: {'href': '{{ MEDIA_URL }}'+file()}, text: file()"></a>

                            <input type="checkbox" data-bind="attr:{name: 'clears['+$index()+']'}"> Clear<br>
                            Change:<!-- /ko --><input type="file" data-bind="attr:{name: 'files['+$index()+']'}">

                        </td>
                        <td>
                            <input type="text" name="descriptions" data-bind="value: description">
                        </td>
                        <td class="hide-on-print">
                            <a href="#" class="close tiny secondary" data-bind="click: $parent.remove_row">x</a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
                <button data-bind="click: add_row">Add File</button>
                <input type="hidden" name="deleted_files" data-bind="value: deleted_rows()">

            </div>
        </div>

        <div>

        </div>

    </form>

    <div id="add-category" class="reveal-modal" data-reveal><h2>Add Category</h2>
        <a class="close-reveal-modal">&#215;</a>

        <form method="post" action="{% url 'add_training_category' %}">
            {% csrf_token %}
            {{ category_form.as_p }}
            <input type="submit" value="Add" class="tiny button">
        </form>
    </div>

    <div id="add-target-group" class="reveal-modal" data-reveal><h2>Add Target Group</h2>
        <a class="close-reveal-modal">&#215;</a>

        <form method="post" action="{% url 'add_target_group' %}">
            {% csrf_token %}
            {{ target_group_form.as_p }}
            <input type="submit" value="Add" class="tiny button">
        </form>
    </div>

    <div id="add-resource-person" class="reveal-modal" data-reveal><h2>Add Resource Person</h2>
        <a class="close-reveal-modal">&#215;</a>

        <form method="post" action="{% url 'add_resource_person' %}">
            {% csrf_token %}
            {{ resource_person_form.as_p }}
            <input type="submit" value="Add" class="tiny button">
        </form>
    </div>

    <div id="add-participant" class="reveal-modal" data-reveal><h2>Add Participant</h2>
        <a class="close-reveal-modal">&#215;</a>

        <form method="post" action="{% url 'add_participant' %}">
            {% csrf_token %}
            {{ participant_form.as_p }}
            <input type="submit" value="Add" class="tiny button">
        </form>
    </div>

    <div id="add-organization" class="reveal-modal" data-reveal><h2>Add Organization</h2>
        <a class="close-reveal-modal">&#215;</a>

        <form method="post" action="{% url 'add_organization' %}">
            {% csrf_token %}
            {{ organization_form.as_p }}
            <input type="submit" value="Add" class="tiny button">
        </form>
    </div>

{% endblock %}