{% extends "training_base.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block title %}Training Report{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "training_report" %}">{% trans 'Training Report' %}</a>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/vendors/foundation-datepicker.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendors/foundation-datepicker.css">
    <script>
        $(document).ready(function () {
            $('#from').fdatepicker();
            $('#to').fdatepicker();
        });
    </script>
{% endblock %}

{% block content %}

    <h1>Training Report</h1>

    <form class="center">
        <span {% if not request.GET.from %}class="hide-on-print"{% endif %}>From:</span>
        <input type="text" id="from" name="from" data-date-format="yyyy-mm-dd"
               {% if request.GET.from %}value="{{ request.GET.from }}"{% endif %}>
        <span {% if not request.GET.to %}class="hide-on-print"{% endif %}>To:</span>
        <input type="text" id="to" name="to" data-date-format="yyyy-mm-dd"
               {% if request.GET.to %}value="{{ request.GET.to }}"{% endif %}>
        <input type="submit" value="Go!">
    </form>

    <table class="table-bordered">
        <tr>
            <td>Total Trainings</td>
            <td>{{ objects.count }}</td>
        </tr>
        <tr>
            <td>Total Resource Person Employments</td>
            <td>{{ total_resource_person_employments }}</td>
        </tr>
        <tr>
            <td>Total Resource Persons</td>
            <td>{{ total_resource_persons }}</td>
        </tr>
        <tr>
            <td>Total Participations</td>
            <td>{{ participations }}</td>
        </tr>
        <tr>
            <td>Total Unique Participants</td>
            <td>{{ participants }}</td>
        </tr>
        <tr>
            <td>Total Training Days</td>
            <td>{{ days }}</td>
        </tr>
    </table>

    <h3>Trainings</h3>

    <table class="table-bordered">
        <thead>
        <th>{% anchor title _('Title') %}</th>
        <th>{% anchor starts _('Starts') %}</th>
        <th>{% anchor ends _('Ends') %}</th>
        <th>{% anchor days _('Days') %}</th>
        <th>{% anchor resource_persons_count _('Resource Persons') %}</th>
        <th>{% anchor participants_count _('Participants') %}</th>
        </thead>
        <tbody>

        {% autosort objects as sorted_objects %}

        {% for item in sorted_objects %}
            <tr>
                <td><a href="{% url 'update_training' item.id %}">{{ item.title }}</a></td>
                <td>{{ item.starts|date:"D d M Y" }}</td>
                <td>{{ item.ends|date:"D d M Y" }}</td>
                <td>{{ item.days }}</td>
                <td>{{ item.resource_persons_count }}</td>
                <td>{{ item.participants_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}