{% extends "training_base.html" %}
{% load i18n %}
{% load filters %}

{% block title %} {% trans 'Training' %}{% endblock %}


{% block head_end %}
    {#    <script src="{{ STATIC_URL }}js/ils/outgoing.js"></script>#}

{% endblock %}

{% block content %}

    <div class="dashboard">
        {% ifusergroup 'Librarian' %}

            <div>
                <a href="{% url 'list_trainings' %}">
                    <img src="{{ STATIC_URL }}img/icons/training.png">
                    <b>Trainings</b></a>
            </div>

            <div>
                <a href="{% url 'list_resource_persons' %}">
                    <img src="{{ STATIC_URL }}img/icons/trainer.png">
                    Resource Persons</a>
            </div>

            <div>
                <a href="{% url 'list_participants' %}">
                    <img src="{{ STATIC_URL }}img/icons/students.png">
                    Participants</a>
            </div>
            <div>
                <a href="{% url 'list_organizations' %}">
                    <img src="{{ STATIC_URL }}img/icons/organization.png">
                    Organizations</a>
            </div>


            <div>
                <a href="{% url 'list_files' %}">
                    <img src="{{ STATIC_URL }}img/icons/file.png">
                    Files</a>
            </div>

            <div>
                <a href="{% url 'list_training_categories' %}">
                    <img src="{{ STATIC_URL }}img/icons/category.png">
                    Categories</a>
            </div>
            <div>
                <a href="{% url 'list_target_groups' %}">
                    <img src="{{ STATIC_URL }}img/icons/target.png">
                    Target Groups</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'add_participant' %}">
                    <img src="{{ STATIC_URL }}img/icons/students.png">
                    Register</a>
            </div>
        {% endifusergroup %}

    </div>



{% endblock %}