{% extends base_template %}
{% load i18n %}

{% block title %}{{ scenario }} {% trans 'Training' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_inventory_items" %}">{% trans 'Inventory' %} {% trans 'Items' %}</a>#}
    <span>{% trans scenario %} {% trans 'Training' %} </span>
{% endblock %}

{% block content %}

    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}

        <div>

            <label for="id_title">Title:</label>
            <input type="text" required name="title" maxlength="254" id="id_title" data-bind="value: title">

            <label for="id_description">Description:</label>
            <textarea rows="10" name="description" id="id_description" data-bind="value: description"
                      cols="40"></textarea>


            <label for="id_starts">Starts:</label> <input type="text" name="starts" id="id_starts"
                                                          data-bind="value: starts">

            <label for="id_ends">Ends:</label>
            <input type="text" name="ends" id="id_ends" data-bind="value: ends">


            <label for="id_categories">Categories:</label>
            {{ form.categories }}

            <label for="id_target_groups">Target groups:</label>
            {{ form.target_groups }}

            <label for="id_criteria_for_selection">Criteria for selection:</label>
            <textarea rows="10" name="criteria_for_selection" id="id_criteria_for_selection" cols="40"
                      data-bind="value: criteria_for_selection"></textarea>


            <label for="id_objective">Objective:</label>
            <textarea rows="10" name="objective" id="id_objective" cols="40" data-bind="value: objective"></textarea>

            <label for="id_output">Output:</label>
            <textarea rows="10" name="output" id="id_output" cols="40" data-bind="value: output"></textarea></p>

            <label for="id_conclusion">Conclusion:</label>
            <textarea rows="10" name="conclusion" id="id_conclusion" data-bind="value: conclusion" cols="40"></textarea>

            <label for="id_feedback">Feedback:</label>
            <textarea rows="10" name="feedback" id="id_feedback" data-bind="value: feedback" cols="40"></textarea>

            <label for="id_curriculum">Curriculum:</label> <textarea rows="10" name="curriculum" id="id_curriculum"
                                                                     data-bind="value: curriculum" cols="40"></textarea>

            <label for="id_resource_persons">Resource persons:</label>
            {{ form.resource_persons }}

            <label for="id_participants">Participants:</label>
            {{ form.participants }}
        </div>

        <div class="row">
            <div class="span12">
                <button type="submit" value="Submit" class="small secondary button">
                    {% trans 'Submit' %}</button>
                {% if scenario == 'Update' %}
                    <a class="small secondary button alert"
                       href="{% url 'delete_inventory_item' form.instance.id %}">{% trans 'Delete' %}!</a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}