{% extends "base.html" %}
{% load i18n %}
{% load filters %}


{% block title %} {% trans 'Acquisition' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <span> {% trans 'Acquisition' %}</span>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/ils/acquisition.js"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}

    {{ data|jsonify }}

    <form>
        ISBN:
        <input type="text" name="isbn" size="20" data-bind="value: isbn13">
    </form>

    <input type="text" data-bind="value: book.title">

{% endblock %}