{% extends "base.html" %}
{% load i18n %}
{% load filters %}


{% block title %} {% trans 'Acquisition' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <span> {% trans 'Acquisition' %}</span>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/ils/acquisition.js"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}

    {{ data|jsonify }}

    <form class="acquisition-form">
        {% csrf_token %}
        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" size="20" data-bind="value: isbn13" id="isbn">
    </form>

    <form method="post" class="acquisition-form" action="{% url 'save_acquisition' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" data-bind="value: isbn13" name="isbn">

        <label for="books" class="required">Title</label>
        {#        <input type="text" data-bind="value: book().title" id="title" required>#}
        <select id="books" name="book"
                data-bind="options: books, value: book().id, optionsText: 'title', optionsValue: 'id'">
        </select>

        <label for="subtitle">Sub-title</label>
        <input type="text" data-bind="value: book().subtitle" id="subtitle" name="subtitle">

        <label for="authors">Authors</label>
        <select id="authors" name="authors" multiple="true"
                data-bind="options: authors, selectedOptions: authors, optionsText: 'name', optionsValue: 'id'">
        </select>

        <div class="row">

            <div class="column large-4">
                <label for="edition">Edition</label>
                <input type="text" data-bind="value: edition" id="edition" name="edition">
            </div>

            <div class="column large-4">
                <label for="price">Price</label>
                <input type="number" data-bind="value: price" id="price" name="price">
            </div>

            <div class="column large-4">
                <label for="quantity" data-bind="css: format()!='ebook'?'required':'not-required'">Quantity</label>
                <input type="text" data-bind="value: quantity, attr:{'required': format()!='ebook'}"
                       id="quantity" name="quantity">
            </div>

        </div>

        <div class="row">

            <div class="column large-4">
                <label for="languages">Languages</label>
                <select data-bind="selectize: $root.languages, selectedOptions: languages" size="5"
                        multiple="true" name="languages">
                </select>
            </div>

            <div class="column large-8">
                <label for="date_of_publication">Date of Publication</label>
                {#        <input type="text" data-bind="value: date_of_publication" id="date_of_publication">#}
                <input type="text" data-bind="value: year" id="date_of_publication" placeholder="YYYY" name="year">
                <input type="text" data-bind="value: month, visible: year()!=''" id="date_of_publication"
                       placeholder="MM" name="month">
                <input type="text" data-bind="value: day, visible: year()!='' && month()!=''" id="date_of_publication"
                       placeholder="DD" name="day">
            </div>
        </div>

        <div class="row">

            <div class="column large-4">
                <label for="format">Format</label>
                <select id="format" name="format" data-bind="value: format">
                    <option value="Paperback">Paperback</option>
                    <option value="Hardcover">Hardcover</option>
                    <option value="eBook">Ebook</option>
                </select>

            </div>

            <div class="column large-4">
                <label for="pagination">Pagination</label>
                <input type="text" data-bind="value: pagination" id="pagination" name="pagination">
            </div>


            <div class="column large-4">
                <label for="publisher">Publisher</label>
                <select data-bind="options: $root.publishers, value: publisher_id, optionsText: 'name', optionsValue: 'id'"
                        id="publisher" name="publisher"></select>
            </div>

        </div>


        <label for="subjects">Subjects</label>
        <select id="subjects" name="subjects" multiple="true"
                data-bind="options: subjects, selectedOptions: book().subjects, optionsText: 'name', optionsValue: 'id'">
        </select>

        <label for="excerpt">Excerpt</label>
        <textarea data-bind="value: excerpt" id="excerpt" name="excerpt"></textarea>

        <label for="notes">Notes</label>
        <textarea data-bind="value: notes" id="notes" name="notes"></textarea>

        <div class="row">

            <div class="column large-4">
                <label id="id_small_cover">Small Cover</label>
                {{ form.small_cover }}
            </div>

            <div class="column large-4">
                <label id="id_medium_cover">Medium Cover</label>
                {{ form.medium_cover }}
            </div>

            <div class="column large-4">
                <label id="id_large_cover">Large Cover</label>
                {{ form.large_cover }}
            </div>

        </div>

        <div class="row">
            <div class="column large-4">
                <label for="lcc">LCC</label>
                <input type="text" data-bind="value: lcc" id="lcc" name="lcc">
            </div>

            <div class="column large-8">
                <label for="ddc">DDC</label>
                <input type="text" data-bind="value: ddc" id="ddc" name="ddc">
            </div>
        </div>

        <div class="row">
            <div class="column large-6">
                <label for="ebooks">Ebooks</label>
                <input type="file" id="ebook" name="ebook" multiple><br>
            </div>

            <div class="column large-6">
                <label for="type">Type</label>
                <select id="type" name="type" data-bind="value: type">
                    <option value="Reference">Reference</option>
                    <option value="Circulative">Circulative</option>
                </select>

            </div>

        </div>


        <input type="submit" class="button" value="Save">


    </form>

{% endblock %}