{% extends "library_base.html" %}
{% load i18n %}

{% block title %} {% trans 'Integrated Library System' %}{% endblock %}


{% block head_end %}
    {#    <script src="{{ STATIC_URL }}js/ils/outgoing.js"></script>#}

{% endblock %}

{% block content %}

    <div>
        <a href="{% url 'list_records' %}">Books</a>
    </div>
    <div>
        <a href="{% url 'list_patrons' %}">Patrons</a>
    </div>
    <div>
        <a href="{% url 'list_authors' %}">Authors</a>
    </div>
    <div>
        <a href="{% url 'list_publishers' %}">Publishers</a>
    </div>

{% endblock %}