{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}

{% block title %} {% trans 'Integrated Library System' %}{% endblock %}


{% block head_end %}
    {#    <script src="{{ STATIC_URL }}js/ils/outgoing.js"></script>#}

{% endblock %}

{% block content %}

    <div class="dashboard">

        <div>
            <a href="{% url 'list_records' %}">
                <img src="{{ STATIC_URL }}img/icons/book.png">
                Books</a>
        </div>
        {% ifusergroup 'Librarian' %}
            <div>
                <a href="{% url 'list_patrons' %}">
                    <img src="{{ STATIC_URL }}img/icons/user.png">
                    Patrons</a>
            </div>
        {% endifusergroup %}
        <div>
            <a href="{% url 'list_authors' %}">
                <img src="{{ STATIC_URL }}img/icons/write.png">
                Authors</a>
        </div>
        <div>
            <a href="{% url 'list_publishers' %}">
                <img src="{{ STATIC_URL }}img/icons/print.png">
                Publishers</a>
        </div>

        <div>
            <a href="{% url 'list_ebooks' %}">
                <img src="{{ STATIC_URL }}img/icons/ebook.png">
                Ebooks</a>
        </div>

        {% ifusergroup 'Librarian' %}
            <div>
                <a href="{% url 'list_transactions' %}">
                    <img src="{{ STATIC_URL }}img/icons/import.png">
                    Transactions</a>
            </div>

            <div>
                <a href="{% url 'acquisition' %}">
                    <img src="{{ STATIC_URL }}img/icons/download.png">
                    Acquisition</a>
            </div>
            <div>
                <a href="{% url 'outgoing' %}">
                    <img src="{{ STATIC_URL }}img/icons/export.png">
                    Checkout</a>
            </div>
        {% endifusergroup %}
    </div>

    <div class="dashboard-search">
        <form method="get" action="{% url 'search' %}">

            <input type="text" name="q" id="id_q" placeholder="Search">

            {{ form.models }}

            {#            {{ form.as_p }}#}

            <input type="submit" value="Search!" class="tiny button">

        </form>
    </div>

{% endblock %}