{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {% trans 'Patrons' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <span> {% trans 'Patrons' %}</span>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}


    <a class="small secondary button" href="{% url 'add_patron' %}">+ Add New Patron</a>

    {% autosort patrons as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <table class="table-bordered">
        <thead>
        <tr>
            <th>{% anchor id 'Patron' %}</th>
            <th>Total Borrowed</th>
            <th>Not Returned</th>
            <th>Past Due</th>
        </tr>
        </thead>
        <tbody>
        {% for patron in paginated_objects %}
            <tr>
                <td><a href="{% url 'view_patron' pk=patron.id %}">{{ patron }}</a></td>
                <td>{{ patron.transactions.count }}</td>
                <td>{{ patron.not_returned.count }}</td>
                <td>{{ patron.past_due.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}


{% endblock %}