{% extends "base.html" %}
{% load i18n %}
{% load filters %}


{% block title %} {% trans 'Patrons' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <span> {% trans 'Patrons' %}</span>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <table class="table-bordered">
        <thead>
        <tr>
            <th>Patron</th>
            <th>Total Borrowed</th>
            <th>Not Returned</th>
            <th>Past Due</th>
        </tr>
        </thead>
        <tbody>
        {% for patron in patrons %}
            <tr>
                <td>{{ patron }}</td>
                <td>{{ patron.transactions.count }}</td>
                <td>{{ patron.not_returned.count }}</td>
                <td>{{ patron.past_due.count }}</td>
                {#                <td> {% if transaction.return_date %}#}
                {#                    {{ transaction.return_date }}#}
                {#                {% else %}#}
                {##}
                {#                    <a href="{% url 'incoming' transaction_pk=transaction.id %}">Return</a>#}
                {#                {% endif %}#}
                {#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}