{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {% trans 'Books' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <span> {% trans 'Books' %}</span>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}
    {% autosort records as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="right">
        Sort by {% anchor date_of_publication 'Published Date' %} | {% anchor publisher %} |
    </div>

    <ul class="records">
        {% for record in paginated_objects %}
            <li>
                <div class="row">
                    <div class="column large-1 medium-1 small-1">
                        {% if record.small_cover %}
                            <a href="{{ record.get_absolute_url }}">
                                <img src="{{ MEDIA_URL }}{{ record.small_cover }}"></a>
                        {% else %}
                            <a href="{{ record.get_absolute_url }}">
                                <img src="{{ STATIC_URL }}img/no_cover-40x60.png"></a>
                        {% endif %}
                    </div>
                    <div class="column large-7 medium-7 small-7">
                        <a href="{{ record.get_absolute_url }}"><h3>{{ record }}</h3></a>
                        <h5>
                            {% if record.authors.all %}
                                by {% for author in record.authors.all %}
                                {{ author|linkify }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if record.publisher or record.published_date %}
                                Published
                                {% if record.published_date %}
                                    {{ record.published_date }}
                                {% endif %}
                                {% if record.publisher %}
                                    by {{ record.publisher|linkify }}
                                {% endif %}
                            {% endif %}
                        </h5>
                    </div>
                    <div class="column large-4 medium-4 small-4">
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% paginate %}


{% endblock %}