{% extends "base.html" %}
{% load i18n %}
{% load filters %}


{% block title %} {% trans 'Outgoing' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <span> {% trans 'Outgoing' %}</span>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/ils/outgoing.js"></script>

{% endblock %}

{% block content %}
    {#<form>#}
    {#<label for="patron">Patron</label>#}
    {#<input type="text" id="patron" name="patron"/>#}
    {#<label for="isbn">ISBN</label>#}
    {#<input type="text" id="isbn" name="isbn"/>#}
    {#<label for="isbn">ISBN</label>#}
    {#<input type="text" id="isbn" name="isbn"/>#}
    {#</form>#}



    <form method="post" action="{% url 'save_outgoing' %}">
        {% csrf_token %}

        <label for="id_user">Patron:</label>
        {{ form.user }}

        <div class="row">
            <div class="column large-6 small-6 medium-6">
                <label for="borrow_date">Borrow Date</label>
                {{ form.borrow_date }}
            </div>

            <div class="column large-6 small-6 medium-6">
                <label for="due_date">Due Date</label>
                {{ form.due_date }}
            </div>

        </div>

        <div class="row">
            <div class="column large-6 small-6 medium-6">
                <label for="isbn">ISBN</label>
                <input type="text" id="isbn" name="isbn" size="30"/>
            </div>

            <div class="column large-6 small-6 medium-6">
                <label for="id_record">Item:</label>
                {{ form.record }}
            </div>

        </div>


        <input type="submit" value="Lend!" class="button">

    </form>

{% endblock %}