{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {{ patron }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_patrons' %}">Patrons</a>
    <span> {{ patron }}</span>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <h3>{{ patron }}</h3>
    <table class="table-bordered">
        <thead>
        <tr>
            <th>Total Borrowed</th>
            <th>Not Returned</th>
            <th>Past Due</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ patron.transactions.count }}</td>
            <td>{{ patron.not_returned.count }}</td>
            <td>{{ patron.past_due.count }}</td>
        </tr>
        </tbody>
    </table>
    {% autosort transactions as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <h3>Transactions</h3>

    <div class="transactions">
        <table class="table-bordered">
            <thead>
            <tr>
                <th>{% anchor record_id 'Book' %}</th>
                <th>{% anchor borrow_date 'Borrow Date' %}</th>
                <th>{% anchor due_date 'Due Date' %}</th>
                <th>{% anchor return_date 'Return Date' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in paginated_objects %}
                <tr>
                    <td>{{ transaction.record|linkify }}</td>
                    <td>{{ transaction.borrow_date }}</td>
                    <td>{{ transaction.due_date }}</td>
                    <td> {% if transaction.return_date %}
                        {{ transaction.return_date }}
                    {% else %}

                        <a href="{% url 'incoming' transaction_pk=transaction.id %}">Return</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    </div>

{% endblock %}