{% extends "base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {{ publisher }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <a href="{% url "list_demand_forms" %}">{% trans 'Demand' %} {% trans 'Forms' %}</a>#}
    <span> {{ publisher }}</span>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <h3>Books published by {{ publisher }}</h3>

    {% autosort publisher.record_set.all as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <ul class="records">
        {% for record in paginated_objects %}
            <li>
                <div class="row">
                    <div class="column large-1 medium-1 small-1">
                        <a href="{{ record.get_absolute_url }}">
                            <img src="{{ MEDIA_URL }}{{ record.small_cover }}"></a>
                    </div>
                    <div class="column large-7 medium-7 small-7">
                        <a href="{{ record.get_absolute_url }}"><h3>{{ record }}</h3></a>
                        {% if record.authors.all %}
                            <h5>by {% for author in record.authors.all %}
                                {{ author|linkify }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </h5>
                        {% endif %}
                    </div>
                    <div class="column large-4 medium-4 small-4">
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% paginate %}

{% endblock %}