{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {{ record }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_records' %}">Books</a>
    <span> {{ record }}</span>
{% endblock %}

{% block head_end %}
    {#    <script src="{{ STATIC_URL }}js/ils/view_record.js"></script>#}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="column large-1">
            <a href="{{ MEDIA_URL }}{{ record.large_cover }}" target="_blank"><img
                    src="{{ MEDIA_URL }}{{ record.medium_cover }}"></a>
        </div>
        <div class="column large-8">
            <h1>{{ record.book.title }}</h1>
            {% if record.book.subtitle %}
                <h4>{{ record.book.subtitle }}</h4>
            {% endif %}
            {% if record.authors.all %}
                <h5>by {% for author in record.authors.all %}
                    {{ author|linkify }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </h5>
            {% endif %}
            {% if record.publisher or record.published_date or record.published_places.all %}
                Published
                {% if record.published_date %}
                    {{ record.published_date }}
                {% endif %}
                {% if record.publisher %}
                    by {{ record.publisher|linkify }}
                {% endif %}
                {% if record.published_places.all %}
                    in {{ record.published_places.all|join:', ' }}
                {% endif %}
            {% endif %}

        </div>
        <div class="column large-3">
        </div>

    </div>

    <div class="rowz">
        {% if record.excerpt %}
            {{ record.excerpt }}
            <br><br>
        {% endif %}

    </div>

    <div class="rowz">
        {% if record.notes %}
            <strong>Notes: </strong>{{ record.notes }}
            <br><br>
        {% endif %}
    </div>

    <div class="row">
        <div class="column large-6 medium-6">
            {% if record.isbn13 %}
                <strong>ISBN: </strong>{{ record.isbn13 }}
                <br>
            {% endif %}

            {% if record.pagination %}
                <strong>Pagination: </strong>{{ record.pagination }}
                <br>
            {% endif %}

            {% if record.openlibrary_id %}
                <strong>OpenLibrary: </strong>
                <a target="_blank"
                   href="https://openlibrary.org/books/{{ record.openlibrary_id }}/">{{ record.openlibrary_id }}</a>
                <br>
            {% endif %}

            {% if record.goodreads_id %}
                <strong>Goodreads: </strong>
                <a target="_blank"
                   href="http://www.goodreads.com/book/show/{{ record.goodreads_id }}">{{ record.goodreads_id }}</a>
                <br>
            {% endif %}

            {% if record.lccn_id %}
                <strong>Library of Congress Control Number: </strong>
                <a target="_blank"
                   href="http://lccn.loc.gov/{{ record.lccn_id }}">{{ record.lccn_id }}</a>
                <br>
            {% endif %}

            {% if record.oclc_id %}
                <strong>OCLC WorldCat: </strong>
                <a target="_blank"
                   href="http://www.worldcat.org/oclc/{{ record.oclc_id }}?tab=details">{{ record.oclc_id }}</a>
                <br>
            {% endif %}

            {% if record.librarything_id %}
                <strong>LibraryThing: </strong>
                <a target="_blank"
                   href="http://www.librarything.com/work/{{ record.librarything_id }}">{{ record.librarything_id }}</a>
                <br>
            {% endif %}

            {% if record.format %}
                <strong>Format: </strong>{{ record.format }}
                <br>
            {% endif %}

            {% if record.type %}
                <strong>Type: </strong>{{ record.type }}
                <br>
            {% endif %}

            {% if record.weight %}
                <strong>Weight: </strong>{{ record.weight }}
                <br>
            {% endif %}

            {% if record.dimensions %}
                <strong>Dimensions: </strong>{{ record.dimensions }}
                <br>
            {% endif %}

            {% if record.lcc %}
                <strong>Library of Congress Classification: </strong>{{ record.lcc }}
                <br>
            {% endif %}

            {% if record.ddc %}
                <strong>Dewey Decimal Class: </strong>{{ record.ddc }}
                <br>
            {% endif %}

        </div>

        <div class="column large-6 medium-6">
            <table>
                <tr>
                    <th>Total</th>
                    <td>{{ record.quantity }}</td>
                </tr>
                <tr>
                    <th>In Circulation</th>
                    <td>{{ record.in_circulation.count }}</td>
                </tr>
                <tr>
                    <th>Available</th>
                    <td>{{ record.quantity|subtract:record.in_circulation.count }}</td>
                </tr>
                {% if record.quantity|subtract:record.in_circulation.count > 0 %}
                    <tr>
                        <th colspan="2">

                            <a href="{% url 'outgoing' pk=record.id %}">Lend</a>
                        </th>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    {% if record.ebooks %}
        <h3>E-books</h3>
        {% for ebook in record.ebooks %}
            <a href="{{ MEDIA_URL }}{{ ebook.file }}">{{ ebook.format }}</a>
            {% if not forloop.last %} | {% endif %}
        {% endfor %}

    {% endif %}

    <h3>Transactions</h3>
    <div class="transactions">
        <table class="table-bordered">
            <thead>
            <tr>
                <th>{% anchor user_id 'Patron' %}</th>
                <th>{% anchor borrow_date 'Borrow Date' %}</th>
                <th>{% anchor due_date 'Due Date' %}</th>
                <th>{% anchor return_date 'Return Date' %}</th>
            </tr>
            </thead>
            <tbody>
            {% autosort transactions as sorted_objects %}
            {% autopaginate sorted_objects 20 as paginated_objects %}
            {% for transaction in paginated_objects %}
                <tr>
                    <td><a href="{% url 'view_patron' pk=transaction.user.id %}">{{ transaction.user }}</a></td>
                    <td>{{ transaction.borrow_date }}</td>
                    <td>{{ transaction.due_date }}</td>
                    <td> {% if transaction.return_date %}
                        {{ transaction.return_date }}
                    {% else %}

                        <a href="{% url 'incoming' transaction_pk=transaction.id %}">Return</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    </div>

{% endblock %}