{% extends "library_base.html" %}
{% load i18n %}
{% load filters %}
{% load pagination_tags %}
{% load sorting_tags %}


{% block title %} {{ author }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_authors' %}">Authors</a>
    <span> {{ author }}</span>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <h3>Books written by {{ author }}</h3>
    <div class="right">
        Sort by {% anchor date_of_publication 'Published Date' %} | {% anchor publisher %}
    </div>

    {% autosort author.record_set.all as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <ul class="records">
        {% for record in paginated_objects %}
            <li>
                <div class="row">
                    <div class="column large-1 medium-1 small-1">
                        {% if record.small_cover %}
                            <a href="{{ record.get_absolute_url }}">
                                <img src="{{ MEDIA_URL }}{{ record.small_cover }}"></a>
                        {% else %}
                            <a href="{{ record.get_absolute_url }}">
                                <img src="{{ STATIC_URL }}img/no_cover-40x60.png"></a>
                        {% endif %}
                    </div>
                    <div class="column large-7 medium-7 small-7">
                        <h3><a href="{{ record.get_absolute_url }}">{{ record }}</a></h3>
                        {% if record.publisher or record.published_date or record.published_places.all %}
                            Published
                            {% if record.published_date %}
                                {{ record.published_date }}
                            {% endif %}
                            {% if record.publisher %}
                                by {{ record.publisher|linkify }}
                            {% endif %}
                            {% if record.published_places.all %}
                                in {{ record.published_places.all|join:', ' }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="column large-4 medium-4 small-4">
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% paginate %}

{% endblock %}