{% extends 'base.html' %}

{% block title %}{{ scenario }} Inventory Category {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_all_items" %}">Inventory Categories</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">{{ scenario }} Inventory Category</li>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            {{ scenario }} Inventory Category
        </h1>
    </div>

    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="row">
            <div class="span12">
                <input type="submit" value="Submit" class="btn"/>
{#                {% if scenario = 'Update' %}#}
{#                    <a class="btn" href="{% url 'delete_inventory_item' form.instance.id %}">Delete!</a>#}
{#                {% endif %}#}
            </div>
        </div>
    </form>
{% endblock %}