{% extends "base.html" %}

{% block title %}{{ scenario }} Demand Form{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <span>{{ scenario }} Demand Form</span>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/demand_form.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            {% load i18n %}
            ko.applyBindings(new DemandViewModel({{data|jsonify}}));
        });
    </script>
{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="table_model" data-bind="value: ko.toJSON($data.demand_rows, null, 2)">

        <div class="one-line row">
    <span class="column large-8">
        &nbsp;
    </span>
    <span class="column large-4">
        {% trans 'Release No.' %}:
        {{ form.release_no }}
        {{ form.release_no.errors }}

    </span>

    <span class="right column large-4">
        {% trans 'Fiscal Year' %}:
        {{ form.fiscal_year }}
        {{ form.fiscal_year.errors }}
    </span>


        </div>


        <div data-bind="with:table_view">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Item Name</th>
                    <th class="span2">Specification</th>
                    <th class="span3">Item Quantity</th>
                    <th class="span3">Unit</th>
                    <th class="span2">Released Item Quantity</th>
                    <th class="span2">Inventory Account No.</th>
                    <th class="span2">Remarks</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody id="tbody">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1"> </span>
                    </td>
                    <td>
                        <select class="span12 item-selector"
                                data-bind="options: $root.items, optionsText: 'name', optionsValue: 'id', value: item_id, optionsCaption: 'Choose an item...', select2: {},  event: {change: $root.item_changed}"></select>
                    </td>
                    <td data-bind="editableText: specification"></td>
                    <td data-bind="editableText: quantity, numeric: true"></td>
                    <td data-bind="editableText: unit"></td>
                    <td data-bind="editableText: release_quantity, numeric: true"></td>
                    <td data-bind="text: inventory_account_id">2</td>
                    <td data-bind="editableText: remarks"></td>
                    <td>
                        <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <a class="small secondary button" data-bind="click: addRow">
                Add New Row
            </a>
        </div>

        <div class="row inline-fields">
            <div class="column large-8">
                <div>{% trans "Demandee's Signature" %}:-</div>
                <div>{% trans "Name" %}:-{{ form.demandee }}</div>
                <div>{% trans "Date" %}:- {{ form.date }}</div>
                <div>{% trans "Purpose" %}:-{{ form.purpose }}</div>
                <div>{% trans "Signature of the one who enters in Inventory Account" %}:-</div>
                <div>{% trans "Date" %}:-</div>
            </div>

            <div class="column large-8">
                <div>{% trans "(a)" %} {% trans "Buy from market" %}</div>
                <div>{% trans "(b)" %} {% trans "Lend from store" %}</div>
                <div>{% trans "Signature of the orderer" %}:-</div>
                <div>{% trans "Date" %}:-</div>
                <div>{% trans "Signature of the receiver" %}:-</div>
                <div>{% trans "Date" %}:-</div>
            </div>
        </div>


        <button type="submit" class="small secondary button" data-bind="click: save">Save</button>
        {% if scenario = 'Update' %}
            <a class="small secondary button" href="{% url 'delete_demand_form' form.instance.id %}">Delete!</a>
        {% endif %}


    </form>


{% endblock %}