{% extends "base.html" %}
{% load i18n %}
{% load filters %}


{% block title %}{% trans scenario %} {% trans 'Entry Report' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <span> {% trans scenario %} {% trans 'Entry Report' %}</span>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/entry_report.js"></script>
    <script>
    ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}

    <span class="right print-only">{% trans 'FCGO' %} {% trans 'F.N.' %} {% trans '4' %}{% trans '6' %}</span>
    <br>
    <h3 class="center print-only">{{ 'app'|setting:'header' }}</h3>
    <h3 class="center print-only">{% trans 'Entry Report' %}</h3>

    <form method="post" data-bind="submit: save">
        {% csrf_token %}

        <input type="hidden" name="table_model" data-bind="value: ko.toJSON($data.demand_rows, null, 2)">


        {% trans 'Entry Report' %} {% trans 'No.' %}: {{ form.entry_report_no }}
        {{ form.entry_report.errors }}


        <div data-bind="with:table_view">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2" class="span1">{% trans 'SN' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Inventory Account Page No.' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Inventory Classification Reference No.' %}</th>
                    <th rowspan="2" class="span2">{% trans "Item's Name" %}</th>
                    <th rowspan="2" class="span2">{% trans 'Specification' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Unit' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Quantity' %}</th>
                    <th colspan="5" class="span2">{% trans 'Price' %} ({% trans 'As per Invoice' %})</th>
                    <th rowspan="2" class="span2">{% trans 'Remarks' %}</th>
                    <th rowspan="2" class="hide-on-print"></th>
                </tr>
                <tr>
                    <th>{% trans 'Rate per Unit' %}</th>
                    <th>{% trans 'VAT' %} {% trans 'per' %} {% trans 'Unit' %}</th>
                    <th>{% trans 'Unit' %} {% trans 'Price' %}</th>
                    <th>{% trans 'Other' %} {% trans 'Expenses' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
                </thead>

                <tbody id="tbody">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1"> </span>
                    </td>
                    <td data-bind="text: account_no()"></td>
                    <td data-bind="text: inventory_classification_reference_no()"></td>
                    <td>
{#                        <input type="hidden" data-url="{% url 'create_inventory_item' %}" class="change-on-ready"#}
{#                               data-bind="value: item_id, select2: $root.items, event: {change: $root.item_changed}">#}
                        <select data-bind="selectize: $root.items, value: item_id, event: {change: $root.item_changed}" data-url="{% url 'create_inventory_item' %}"></select>
                    </td>
                    <td data-bind="editableText: specification"></td>
                    <td data-bind="editableText: unit"></td>
                    <td data-bind="editableText: quantity, numeric: true"></td>
                    <td data-bind="editableText: rate, numeric: true"></td>
                    <td data-bind="text: vat_amount()"></td>
                    <td data-bind="text: amount()"></td>
                    <td data-bind="editableText: other_expenses, numeric: true"></td>
                    <td data-bind="text: total()"></td>
                    <td class="remarks-cell" data-bind="editableText: remarks"></td>
                    <td class="hide-on-print">
                        <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <a class="small secondary button" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>


        <input type="submit" class="small secondary button" value="{% trans 'Save' %}">
        <span data-bind="text: msg, css: status"></span>

        {% if form.instance.id %}
            <a class="small secondary button alert"
               href="{% url 'delete_entry_report' form.instance.id %}">{% trans 'Delete!' %}</a>
        {% endif %}


    </form>

    माथि उल्लेखित सामानहरु खरिद आदेश नम्बर/हस्तान्तरण फाराम नम्बर ........... मिति .................... अनुसार श्री .......................... बाट प्राप्त हुन आएको हुँदा जाँची गन्ती गरी हेर्दा ठीक दुरुस्त भएकोले खातामा आम्दानी बाँधेको प्रमाणित गर्दछु ।
    <br>
    <div class="row print-only">
        <div class="column large-4">
            {% trans "Faantwaala's" %} {% trans 'Signature' %}:
            <br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Date' %}:
        </div>
        <div class="column large-4">
            {% trans "Signature of Verifying Section Head" %}:
            <br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Date' %}
        </div>
        <div class="column large-4">
            {% trans "Signature of Head of Office" %}:
            <br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Date' %}:
        </div>
    </div>

{% endblock %}