{% extends "base.html" %}
{% load i18n %}
{% load filters %}


{% block title %}{% trans scenario %} {% trans 'Handover' %} {% trans 'Form' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <span> {% trans scenario %} {% trans 'Handover' %} {% trans 'Form' %}</span>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/handover.js"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}

    <span class="right">{% trans 'FCGO' %} {% trans 'F.N.' %} {% trans '4' %}{% trans '8' %}</span>
    <br>
    <h3 class="center">{{ 'app'|setting:'header' }}</h3>
    <h3 class="center">{% trans 'Handover' %} {% trans 'Form' %}</h3>

    <form method="post" data-bind="submit: save">
        {% csrf_token %}

        <input type="hidden" name="table_model" data-bind="value: ko.toJSON($data.demand_rows, null, 2)">

        {% trans 'Handover' %} {% trans 'Form No.' %}
        <input type="text" required="required" name="voucher_no" id="id_voucher_no" data-bind="value: voucher_no, localize: 1">
        <br>
        श्री
        <input type="text" required="required" name="addressee" maxlength="254" id="id_addressee" data-bind="value: addressee, autosize: 16">
        {{ form.addressee.errors }}<br>
        निम्नांकित मालसामानहरु मिति
        <input type="text" required="required" name="date" id="id_date"
               data-bind="value: date, localize: 1, autosize: 7" >
        को निर्णयानुसार
        <input type="text" required="required" name="office" maxlength="254" id="id_office" data-bind="value: office, autosize: 12">
        मन्त्रालय/विभाग/कार्यालय/आयोजनाका
        <input type="text" required="required" name="designation" maxlength="254" id="id_designation" data-bind="value: designation, autosize: 12">
        श्री
        <input type="text" required="required" name="handed_to" maxlength="254" id="id_handed_to" data-bind="value: handed_to, autosize: 12">
        {{ form.addressee.errors }}
        {{ form.date.errors }}
        {{ form.office.errors }}
        {{ form.designation.errors }}
        {{ form.handed_to.errors }}
        को हस्ते पठाएको छु । सो सामान भण्डार दाखिला गरी
        <input type="text" required="required" name="due_days" id="id_due_days" data-bind="value: due_days, localize: 1, autosize: 0">
        दिनभित्र दाखिला प्रतिवेदन समेत पठाईदिनुहुन
        अनुरोध छ ।
        {{ form.due_days.errors }}

        <div data-bind="with:table_view">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2" class="span1">{% trans 'SN' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Inventory Account Page No.' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Inventory Classification Reference No.' %}</th>
                    <th rowspan="2" class="span2">{% trans "Item's Name" %}</th>
                    <th rowspan="2" class="span2">{% trans 'Specification' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Item Quantity' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Unit' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Total Amount' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Start Received Date' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Physical Condition of Item' %}</th>
                    <th rowspan="2" class="hide-on-print"></th>
                </tr>
                </thead>

                <tbody id="tbody">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1"> </span>
                    </td>
                    <td data-bind="text: account_no()"></td>
                    <td data-bind="text: inventory_classification_reference_no()"></td>
                    <td>
{#                        <input type="hidden" data-url="{% url 'create_inventory_item' %}" class="change-on-ready"#}
{#                               data-bind="value: item_id, select2: $root.items, event: {change: $root.item_changed}">#}
                        <select data-bind="selectize: $root.items, value: item_id, event: {change: $root.item_changed}"
                                data-url="{% url 'create_inventory_item' %}"></select>
                    </td>
                    <td data-bind="editableText: specification"></td>
                    <td data-bind="editableText: quantity, numeric: true"></td>
                    <td data-bind="editableText: unit"></td>
                    <td data-bind="editableText: total_amount, numeric: true"></td>
                    <td data-bind="editableText: received_date"></td>
                    <td class="remarks-cell" data-bind="editableText: condition"></td>
                    <td class="hide-on-print">
                        <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <a class="small secondary button" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>


        <input type="submit" class="small secondary button" value="{% trans 'Save' %}">
        <span data-bind="text: msg, css: status"></span>

        {% if scenario == 'Update' %}
            <a class="small secondary button"
               href="{% url 'delete_purchase_order' form.instance.id %}">{% trans 'Delete!' %}</a>
        {% endif %}


    </form>

    माथि लेखिए बमोजिमका मालसामानहरु
    ...............................................................मन्त्रालय/विभाग/कार्यालय/आयोजनामा दाखिला गर्ने गरी
    दुई प्रति हस्तान्तरण फाराम समेत बुझिलिँए ।

    <div class="row">
        <div class="column large-6 small-6"></div>
        <div class="column large-6 small-6">
            सामान बुझिलिनेको :<br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Office' %}:<br>
            {% trans 'Date' %}:<br>
        </div>
    </div>

    <u><b>सामान बुझिलिने कार्यालयले भर्ने ।–</b></u><br>

    माथि लेखिए बमोजिमका मालसामानहरु कार्यालयका........................................श्री हस्ते यस कार्यालयमा प्राप्त
    भएको प्रमाणित गर्दछु ।<br>

    <div class="row">
        <div class="column large-6 small-6"></div>
        <div class="column large-6 small-6">
            प्रमाणित गर्ने:<br>
            {% trans 'Name' %}:<br>
            {% trans 'Designation' %}:<br>
            {% trans 'Office' %}:<br>
            {% trans 'Date' %}:<br>
        </div>
    </div>

{% endblock %}