{% extends base_template %}
{% load i18n %}

{% block title %} {% trans 'Update' %} {% trans 'Inventory' %} {% trans 'Category' %} {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_categories" %}">{% trans 'Inventory' %} {% trans 'Categories' %}</a>
    <span>{% trans 'Update' %} {% trans 'Inventory' %} {% trans 'Category'' %}</span>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="row">

            <input type="submit" value="Submit" class="small secondary button"/>
            <a class="small secondary button alert"
               href="{% url 'delete_inventory_category' form.instance.id %}">{% trans 'Delete!' %}</a>

        </div>


    </form>

{% endblock %}