{% extends base_template %}

{% block title %} Update Inventory Category {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_categories" %}">Inventory Categories</a>
    <span>Update Inventory Category</span>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            Inventory Update Category
        </h1>
    </div>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="row">

            <input type="submit" value="Submit" class="small secondary button"/>
            <a class="small secondary button" href="{% url 'delete_inventory_category' form.instance.id %}">Delete this
                category!</a>

        </div>


    </form>

{% endblock %}