{% extends base_template %}

{% block title %} Create Inventory Category {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_categories" %}">Inventory Categories</a>
    <span>Create Inventory Category</span>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            Create Inventory Category
        </h1>
    </div>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="row">
            <div class="span12">
                <input type="submit" value="Submit" class="small secondary button"/>
            </div>
        </div>
    </form>

{% endblock %}