{% extends base_template %}

{% block title %}{{ scenario }} Inventory Item {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active" xmlns="http://www.w3.org/1999/html"><a href="{% url "list_inventory_items" %}">Inventory
        Items</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">{{ scenario }} Inventory Item</li>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            {{ scenario }} Inventory Item
        </h1>
    </div>

    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="span12">
                <button type="submit" value="Submit" class="small secondary button"/>
                Submit</button>
                {% if scenario = 'Update' %}
                    <a class="small secondary button"
                       href="{% url 'delete_inventory_item' form.instance.id %}">Delete!</a>
                {% endif %}
                <a class="small secondary button" target="_blank" href="{% url 'create_inventory_category' %}">New
                    Inventory Category</a>
            </div>
        </div>
    </form>
{% endblock %}