{% extends "inventory_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Outgoing Handovers' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_outgoing_handovers" %}">{% trans 'Outgoing Handovers' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}

    {% autosort objects as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table-bordered">
        <thead>
        <th>{% anchor voucher_no 'Form No.' %}</th>
        <th>{% anchor office 'Handed Over Office' %}</th>
        <th>{% anchor date %}</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                    <a href="{% url 'update_handover' item.id %}">{{ item.voucher_no }}</a>
                </td>
                <td>
                    {{ item.office }}
                </td>

                <td>
                    {{ item.date|date:"Y-m-d" }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="small secondary button"
       href="{% url 'create_outgoing_handover' %}">{% trans 'New' %} {% trans 'Outgoing Handover' %}</a>

{% endblock %}