{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Inventory' %} {% trans 'Items' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_items" %}">{% trans 'Inventory' %} {% trans 'Items' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}

    <div class="widget-box collapsed">
        <div class="widget-header">
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                </a>
            </div>
            <h4>{% trans 'Search' %}</h4>
        </div>
        <div class="widget-body">
            <div class="widget-body-inner">
                <div class="widget-main">
                    <br>

                    <form action="" method="get">
                        {{ objects.form.as_p }}
                        <input type="submit" value="{% trans 'Search' %}" class="btn"/>
                    </form>
                </div>
                <!-- /widget-main -->
            </div>
        </div>
        <!-- /widget-body -->
    </div>
    <br>

    {% autosort objects.qs as sorted_objects %}
    {% autopaginate objects.qs 25 as paginated_objects %}

    <table class="table-bordered">
        <thead>
        <th>{% anchor code {% trans 'Code' %} %}</th>
        <th>{% anchor name 'Name' %}</th>
        <th>{% anchor category 'Category' %}</th>
        <th>{% anchor purchase_price 'Purchase Price' %}</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                    <a href="{% url 'update_inventory_item' item.id %}">{{ item.code }}</a>
                </td>
                <td>
                    <a href="{% url 'update_inventory_item' item.id %}">{{ item.name }}</a>
                </td>

                <td>
                    {% if item.category.id %}
                        <a href="{% url 'update_inventory_category' item.category.id %}">{{ item.category.name }}</a>
                    {% endif %}
                </td>
                <td>{{ item.purchase_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="small secondary button"
       href="{% url 'create_inventory_item' %}">{% trans 'New' %} {% trans 'Inventory' %} {% trans 'Item' %}</a>

{% endblock %}