{% extends "base.html" %}
{% load i18n %}
{% load filters %}


{% block title %}{% trans scenario %} {% trans 'Purchase Order' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <span> {% trans scenario %} {% trans 'Purchase Order' %}</span>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/purchase_order.js"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}

    <span class="right print-only">{% trans 'FCGO' %} {% trans 'F.N.' %} {% trans '4' %}{% trans '5' %}</span>
    <br>
    <h5 class="center print-only">{{ 'app'|setting:'header' }}</h5>
    <h6 class="center print-only">{% trans 'Purchase Order' %}</h6>

    <form method="post" data-bind="submit: save">
        {% csrf_token %}

        <div class="row">

            <div class="column large-6 small-6">
                {% trans 'Shree' %}
                <input type="hidden" name="table_model" data-bind="value: ko.toJSON($data.demand_rows, null, 2)">
                <input type="hidden" data-url="{% url 'create_party' %}"
                       data-bind="value: party, select2: $root.parties, event: {change: $root.party_changed}">
                <br>
                {% trans 'Address' %}: <span data-bind="text:party_address"></span>
                <br>
                <br>
                VAT/PAN: <span data-bind="text:party_pan_no"></span>
                <br/>
            </div>

            <div class="column large-6 small-6">
                {% trans 'Purchase Order' %} {% trans 'No.' %}: {{ form.order_no }}
                {{ form.order_no.errors }}
                <br>
                {% trans 'Date' %}: {{ form.date }}
                {{ form.date.errors }}
            </div>
        </div>

        <div class="centre">
            देहाय बमोजिमका सामानहरु
            <input type="text" class="width-3" size="" required="required" name="due_days" id="id_due_days"
                   data-bind="value: due_days">
            दिन भित्र यस कार्यालयमा दाखिला गरि विल / इन्भ्वाईस प्रस्तुत गर्नु होला ।
            {{ form.due_days.errors }}
        </div>

        <div class="row">
            <span>

            </span>

        </div>


        <div data-bind="with:table_view">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2" class="span1">{% trans 'SN' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Budget Title No.' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Particular' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Specification' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Item Quantity' %}</th>
                    <th rowspan="2" class="span3">{% trans 'Unit' %}</th>
                    <th colspan="2" class="span2">{% trans 'Price' %}</th>
                    <th rowspan="2" class="span2">{% trans 'Remarks' %}</th>
                    <th rowspan="2" class="hide-on-print"></th>
                </tr>
                <tr>
                    <th>{% trans 'Rate' %}</th>
                    <th>{% trans 'Total Amount' %}</th>
                </tr>
                </thead>

                <tbody id="tbody">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1"> </span>
                    </td>
                    <td data-bind="editableText: budget_title_no, numeric: true"></td>
                    <td>
                        {#                        <select class="span12 item-selector"#}
                        {#                                data-bind="options: $root.items, optionsText: 'name', optionsValue: 'id', value: item_id, optionsCaption: 'Choose an item...', select2: {},  event: {change: $root.item_changed}"></select>#}
                        <input type="hidden" data-url="{% url 'create_inventory_item' %}"
                               data-bind="value: item_id, select2: $root.items, event: {change: $root.item_changed}">
                    </td>
                    <td data-bind="editableText: specification"></td>
                    <td data-bind="editableText: quantity, numeric: true"></td>
                    <td data-bind="editableText: unit"></td>
                    <td data-bind="editableText: rate, numeric: true"></td>
                    <td data-bind="text: total_amount()"></td>
                    <td class="remarks-cell" data-bind="editableText: remarks"></td>
                    <td class="hide-on-print">
                        <a href="#" class="close tiny secondary" data-bind="click: $parent.removeRow">x</a>
                    </td>
                </tr>
                <!-- /ko -->
                <tr class="dont-validate">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="right">{% trans 'Total' %}</span></td>
                    <td data-bind="text: $root.sub_total()"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="dont-validate">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="3"><span class="right">13% {% trans 'VAT' %}</span></td>
                    <td data-bind="text: $root.vat_amount()"></td>
                    <td></td>
                    <td class="hide-on-print"></td>
                </tr>
                <tr class="dont-validate">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="right">{% trans 'Grand Total' %}</span></td>
                    <td data-bind="text: $root.grand_total()"></td>
                    <td></td>
                    <td class="hide-on-print"></td>
                </tr>

                </tbody>
            </table>
            <a class="small secondary button" data-bind="click: addRow">
                {% trans 'Add New Row' %}
            </a>
        </div>


        <input type="submit" class="small secondary button" value="{% trans 'Save' %}">
        <span data-bind="text: msg, css: status"></span>

        {% if scenario == 'Update' %}
            <a class="small secondary button"
               href="{% url 'delete_purchase_order' form.instance.id %}">{% trans 'Delete!' %}</a>
        {% endif %}


    </form>

    <div class="row print-onlys">
        <div class="column large-6 small-6">
            {% trans "Faantwaala's" %} {% trans 'Signature' %}:-
            <br>
            {% trans 'Date' %}:-
        </div>
        <div class="column large-6 small-6">
            {% trans 'Section' %} {% trans "Head's" %} {% trans 'Signature' %}:-
            <br>
            {% trans 'Date' %}:-
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <td><u>{% trans 'To be filled by financial section' %}</u>:-<br><br>
                माथि उल्लेखि सामानहरु बजट उपशिर्षक न. .............. को खर्च शिर्षक न. .......... बाट भुक्तानी दिन बजेट
                बाँकी देखिन्छ / देखिदैंन ।
                <br>
                <div class="row">
                    <span class="column large-6 small-6"></span>

                    <div class="column large-6 small-6">
                        {% trans 'Section' %} {% trans "Officer's" %} {% trans 'Signature' %}:-
                        <br>
                        {% trans 'Date' %}:-
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <span class="column large-6 small-6"></span>

                    <div class="column large-6 small-6">
                        {% trans "Signature of Head of Office" %}:-
                        <br>
                        {% trans 'Date' %}:-
                    </div>
                </div>
            </td>
        </tr>
    </table>

    माथि उल्लेखित सामानहरु मिति .......................... भित्र .............................................................. कार्यालयमा बुझाउने  छु भनी सहिछाप गर्ने ।
<br>


    <div class="row print-onlys">
        <div class="column large-4">
            <b>{% trans "Firm's Name" %}</b>
            <br>
            <span data-bind="text:party_name"></span>
        </div>
        <div class="column large-4">
            <b>{% trans 'Signature' %}</b>
            <br>
        </div>
        <div class="column large-4">
            <b>{% trans 'Date' %}</b>
            <br>
        </div>
    </div>



{% endblock %}