{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ obj.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_accounts" %}">{% trans 'Inventory' %} {% trans 'Accounts' %}</a>
    <span>{{ obj.name }}</span>
{% endblock %}

{% block content %}

    Inventory Item's Name : {{ obj.item.name }}
    <br><br>
    Unit : {{ obj.item.unit }}
    <br><br>
    Inventory Item's Property Classification Reference Number : {{ obj.item.property_classification_reference_number }}

{% endblock %}