{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ obj.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_accounts" %}">{% trans 'Inventory' %} {% trans 'Accounts' %}</a>
    <span>{{ obj.name }}</span>
{% endblock %}

{% load filters %}

{% block content %}

    Inventory Item's Name : {{ obj.item.name }}
    <br><br>
    Unit : {{ obj.item.unit }}
    <br><br>
    Inventory Item's Property Classification Reference Number : {{ obj.item.property_classification_reference_number }}

    <table class="table-bordered">
        <tr>
            <th rowspan="2">{% trans 'Date' %}</th>
            <th rowspan="2">{% trans 'Entry No.' %}/{% trans 'Release No.' %}</th>
            <th rowspan="2">{% trans 'Specification' %}</th>
            <th colspan="4">{% trans 'Description' %}</th>
            <th colspan="3">{% trans 'Income' %}</th>
            <th colspan="2">{% trans 'Expense' %}</th>
            <th colspan="2">{% trans 'Remaining' %}</th>
            <th rowspan="2">{% trans 'Remarks' %}</th>
        </tr>
        <tr>
            <th>{% trans "Country of Production or Company\'s Name" %}</th>
            <th>{% trans "Size" %}</th>
            <th>{% trans "Expected Life" %}</th>
            <th>{% trans "Source of item receipt" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Price per Unit" %}</th>
            <th>{% trans "Total Cost Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total Cost Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total Cost Price" %}</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.creator.get_voucher_no }}</td>
                <td>{{ entry.creator.specification }}</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>

                {% if entry.creator|is_demand %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% else %}
                    <td>{{ entry.creator }}</td>
                    <td></td>
                    <td></td>
                {% endif %}

            {% if entry.creator|is_demand %}
                    <td>{{ entry.creator.quantity }}</td>
                    <td></td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}

                <td></td>
                <td></td>

                <td></td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}