{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ obj.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_inventory_accounts" %}">{% trans 'Inventory' %} {% trans 'Accounts' %}</a>
    <span>{{ obj.name }}</span>
{% endblock %}

{% load filters %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/inventory_account.js"></script>
    <script>
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}

    <div class="print-only">
        <span class="right">{% trans 'FCGO' %} {% trans 'F.N.' %}
            {% if obj.item.type == 'non-consumable' %}
                {% trans '4' %}{% trans '7' %}
            {% else %}
                {% trans '5' %}{% trans '2' %}
            {% endif %}
        </span>
        <br/>

        <h5 class="center">{{ 'app'|setting:'header' }}</h5>

        {% if obj.item.type == 'non-consumable' %}
            <h6 class="center clear">{% trans 'Inventory Account for Non-Consumable Item' %}</h6>
        {% else %}
            <h6 class="center clear">{% trans 'Inventory Account for Consumable Item' %}</h6>
        {% endif %}
    </div>

    {% trans "Inventory Item's Name" %} : {{ obj.item.name }}
    <br>
    {% trans 'Unit' %} : {{ obj.item.unit }}
    <br>
    {% trans "Inventory Item's Property Classification Reference Number" %} :
    {{ obj.item.property_classification_reference_number }}
    <br>

    <table class="table-bordered">
    <thead>
        <tr>
            <th rowspan="2">{% trans 'Date' %}</th>
            <th rowspan="2">{% trans 'Entry No.' %}/{% trans 'Release No.' %}</th>
            <th rowspan="2">{% trans 'Specification' %}</th>
            {% if obj.item.type == 'non-consumable' %}
                <th colspan="4">{% trans 'Description' %}</th>
            {% endif %}
            <th colspan="3">{% trans 'Income' %}</th>
            <th colspan="2">{% trans 'Expense' %}</th>
            <th colspan="2">{% trans 'Remaining' %}</th>
            <th rowspan="2">{% trans 'Remarks' %}</th>
        </tr>
        <tr>
            {% if obj.item.type == 'non-consumable' %}
                <th>{% trans "Country of Production or Company\'s Name" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Expected Life" %}</th>
                <th>{% trans "Source of item receipt" %}</th>
            {% endif %}
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Price per Unit" %}</th>
            <th>{% trans "Total Cost Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total Cost Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total Cost Price" %}</th>
        </tr>
        </thead>
        <tbody data-bind="with: table_vm">
        <!-- ko foreach:rows -->
        <tr>
            <td data-bind="text: date()"></td>
            <td data-bind="text: voucher_no()"></td>
            <td data-bind="text: specification()"></td>
            {% if obj.item.type == 'non-consumable' %}
                <td data-bind="editableText: country_or_company"></td>
                <td data-bind="editableText: size"></td>
                <td data-bind="editableText: expected_life"></td>
                <td data-bind="editableText: source"></td>
            {% endif %}


            <td data-bind="text: income_quantity()"></td>
            <td data-bind="text: income_rate()"></td>
            <td data-bind="text: income_total()"></td>


            <td data-bind="text: expense_quantity()"></td>
            <td data-bind="editableText: expense_total_cost_price"></td>
            <td data-bind="text: current_balance()"></td>
            <td data-bind="editableText: remaining_total_cost_price"></td>
            <td data-bind="editableText: remarks"></td>


        </tr>
        <!-- /ko -->
        </tbody>
    </table>

    <input type="submit" class="small secondary button" value="{% trans 'Save' %}" data-bind="click: save">

    <div class="row print-onlys">
        <div class="column large-6 small-6">
            {% trans "Faantwaala's" %} {% trans 'Signature' %}
            <br>
            {% trans 'Date' %}
        </div>
        <div class="column large-6 small-6">
            {% trans 'Section' %} {% trans "Officer's" %} {% trans 'Signature' %}
            <br>
            {% trans 'Date' %}
        </div>
        <div class="column large-4 small-4">
            {% trans "Signature of Head of Office" %}
            <br>
            {% trans 'Date' %}
        </div>
    </div>

{% endblock %}