{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% load filters %}
{% load i18n %}

{% block breadcrumbs %}
    <a href="#">Dashboard</a>
{% endblock %}

{% block content %}

    <div class="section-container accordion" data-section="accordion">
        {% ifappexists inventory %}
            <section>
                <p class="title" data-section-title><a href="#">{% trans 'Inventory' %}</a></p>

                <div class="content" data-section-content>
                    {% ifusergroup 'Store Keeper' %}
                        <a href="{% url 'list_inventory_items' %}">{% trans 'Inventory Items' %}</a>
                    {% endifusergroup %}
                </div>
            </section>
        {% endifappexists %}
        {% ifappexists inventory %}
            <section>
                <p class="title" data-section-title><a href="#">{% trans 'Inventory' %}</a></p>

                <div class="content" data-section-content>
                    {% ifusergroup 'Store Keeper' %}
                        {% trans 'Demand Form' %}
                    {% endifusergroup %}
                </div>
            </section>
        {% endifappexists %}
    </div>








{% endblock %}