{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% load filters %}
{% load i18n %}
{% block content %}

    <div class="section-container accordion" data-section="accordion">
        {% ifappexists inventory %}
            <section>
                <p class="title" data-section-title><a href="#">{% trans 'Accounting' %}</a></p>

                <div class="content" data-section-content>
                    {% ifusergroup 'Store Keeper' %}
                        {% trans 'Demand Form' %}
                    {% endifusergroup %}
                </div>
            </section>
        {% endifappexists %}
        {% ifappexists inventory %}
            <section>
                <p class="title" data-section-title><a href="#">{% trans 'Inventory' %}</a></p>

                <div class="content" data-section-content>
                    {% ifusergroup 'Store Keeper' %}
                        {% trans 'Demand Form' %}
                    {% endifusergroup %}
                </div>
            </section>
        {% endifappexists %}
    </div>








{% endblock %}