{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}
{% load filters %}

{% block breadcrumbs %}
    <a href="#">{% trans 'Home' %}</a>
{% endblock %}

{% block content %}

    <dl class="accordion" data-accordion>
        {% ifappexists inventory %}
            <dd><a href="#inventory">{% trans 'Inventory' %}</a>

                <div class="content active" id="inventory">
                    {% ifusergroup 'Store Keeper' %}
                        <a href="{% url 'list_inventory_items' %}">{% trans 'Inventory Items' %}</a>
                        <br/>
                        <a href="{% url 'create_inventory_item' %}">{% trans 'Create Inventory Item' %}</a>
                        <br/>
                        <a href="{% url 'list_parties' %}">{% trans 'Parties' %}</a>
                        <br/>
                        <a href="{% url 'create_party' %}">{% trans 'New' %} {% trans 'Party' %}</a>
                        <br/>
                        {#                        <a href="{% url 'list_inventory_categories' %}">{% trans 'Inventory Categories' %}</a>#}
                        {#                        <br/>#}
                        {#                        <a href="{% url 'create_inventory_category' %}">{% trans 'Create' %} {% trans 'Inventory' %} {% trans 'Category' %}</a>#}
                        {#                        <br/>#}
                        <a href="{% url 'create_demand_form' %}">{% trans 'New Demand Form' %}</a>
                        <br/>
                        <a href="{% url 'list_demand_forms' %}">{% trans 'Demand Forms' %}</a>
                        <br/>
                        <a href="{% url 'create_purchase_order' %}">{% trans 'New' %} {% trans 'Purchase order' %}</a>
                        <br/>
                        <a href="{% url 'list_purchase_orders' %}">{% trans 'Purchase Orders' %}</a>
                        <br/>
                        <a href="{% url 'create_incoming_handover' %}">{% trans 'New' %} {% trans 'Incoming Handover' %}</a>
                        <br/>
                        <a href="{% url 'create_outgoing_handover' %}">{% trans 'Create' %} {% trans 'Outgoing Handover' %}</a>
                        <br/>
                        <a href="{% url 'list_incoming_handovers' %}">{% trans 'Incoming Handovers' %}</a>
                        <br/>
                        <a href="{% url 'list_outgoing_handovers' %}">{% trans 'Outgoing Handovers' %}</a>
                        <br/>
                        <a href="{% url 'list_entry_reports' %}">{% trans 'Entry Reports' %}</a>
                        <br/>
                        <a href="{% url 'list_handover_entry_reports' %}">{% trans 'Entry Reports for Handovers' %}</a>
                        <br/>
                        <a href="{% url 'list_purchase_entry_reports' %}">{% trans 'Entry Reports for Purchase Orders' %}</a>
                        <br/>
                        <a href="{% url 'list_inventory_accounts' %}">{% trans 'Inventory' %} {% trans 'Accounts' %}</a>
                        <br/>
                        <a href="{% url 'list_consumable_inventory_accounts' %}">{% trans 'Consumable' %} {% trans 'Inventory' %} {% trans 'Accounts' %}</a>
                        <br/>
                        <a href="{% url 'list_non_consumable_inventory_accounts' %}">{% trans 'Non-Consumable' %} {% trans 'Inventory' %} {% trans 'Accounts' %}</a>
                    {% else %}
                        <a href="{% url 'create_demand_form' %}">{% trans 'New Demand Form' %}</a>
                        <br/>
                        <a href="{% url 'list_demand_forms' %}">{% trans 'Demand Forms' %}</a>
                        <br/>
                    {% endifusergroup %}
                </div>
            </dd>
        {% endifappexists %}
        {% ifappexists inventory %}
            <dd><a href="#accounting">{% trans 'Accounting' %}</a>

                <div class="content" id="accounting">
                    {% ifusergroup 'Store Keeper' %}
                        {% trans 'Demand Form' %}
                    {% endifusergroup %}
                </div>
            </dd>
        {% endifappexists %}
    </dl>








{% endblock %}